[project]
	description = Give pull-to-refresh & infinite scrolling to any UIScrollView with 1 line of code. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chinh Bui (siliconprime-chinh)
[access "refs/for/refs/*"]
	read = group user/Chinh Bui (siliconprime-chinh)
	push = group user/Chinh Bui (siliconprime-chinh)
	label-Code-Review = -2..+2 group user/Chinh Bui (siliconprime-chinh)
	label-Verified = -1..+1 group user/Chinh Bui (siliconprime-chinh)
	rebase = group user/Chinh Bui (siliconprime-chinh)
	removeReviewer = group user/Chinh Bui (siliconprime-chinh)
	submit = group user/Chinh Bui (siliconprime-chinh)
[access "refs/heads/*"]
	read = group user/Chinh Bui (siliconprime-chinh)
	create = group user/Chinh Bui (siliconprime-chinh)
	push = +force group user/Chinh Bui (siliconprime-chinh)
	pushMerge = group user/Chinh Bui (siliconprime-chinh)
[access "refs/tags/*"]
	push = +force group user/Chinh Bui (siliconprime-chinh)
	pushTag = group user/Chinh Bui (siliconprime-chinh)
	pushSignedTag = group user/Chinh Bui (siliconprime-chinh)
